{% extends "./common/layout.html" %}

{% block head %}
<title>About | Beelog</title>
{% endblock %}

{% block body %}
<div class="w-full max-w-screen-md mx-auto bg-base-100 text-center pt-20">
  <figure class="flex justify-center items-center">
    <img class="w-[200px] rounded-full" src="/images/avatar.jpg" />
  </figure>
  <h1 class="text-3xl mt-4">Beelog</h1>
  <p class="py-6">
    一些介绍,一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍
    一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍
    一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍
  </p>
</div>
{% endblock %}