{% extends "./common/layout.html" %}

{% block head %}
<title>A blog | Beelog</title>
{% endblock %}

{% block body %}
<div class="w-full max-w-screen-md mx-auto bg-base-100">
  <h1 class="text-2xl text-center my-6">
    一篇文章一篇文章一篇文章一篇文章
  </h1>
  <section class="before:h-[1px] after:h-[1px] text-center mb-6">
    <button class="badge p-3 m-1 text-sm">产品</button>
    <button class="badge p-3 m-1 text-sm">读书</button>
    <button class="badge p-3 m-1 text-sm">杂谈</button>
  </section>
  <article class="text-base/8 indent-8 [&>p]:mb-4 tracking-wide">
    <p>
      在稍大些的 React 应用中，通常需要使用 Router 处理页面间的关系，处理页面间的关系，以及在页面之间导航。 你在用其他 Router 库吗？是否遇到过不太好用的地方？比如，定义嵌套和动态路由时比较麻烦或有问题、 或者
      API
      不够简洁、或者包含了一些和路由无关的内容、或者不同版本间常常不兼容...

      在稍大些的 React 应用中，通常需要使用 Router 处理页面间的关系，以及在页面之间导航。 你在用其他 Router 库吗？是否遇到过不太好用的地方？比如，定义嵌套和动态路由时比较麻烦或有问题、 或者 API
      不够简洁、或者包含了一些和路由无关的内容、或者不同版本间常常不兼容...
    </p>
    <p>
      在稍大些的 React 应用中，通常需要使用 Router 处理页面间的关系，以及在页面之间导航。 你在用其他 Router 库吗？是否遇到过不太好用的地方？比如，定义嵌套和动态路由时比较麻烦或有问题、 或者 API
      不够简洁、或者包含了一些和路由无关的内容、或者不同版本间常常不兼容...

      在稍大些的 React 应用中，通常需要使用 Router 处理页面间的关系，以及在页面之间导航。 你在用其他 Router 库吗？是否遇到过不太好用的地方？比如，定义嵌套和动态路由时比较麻烦或有问题、 或者 API
      不够简洁、或者包含了一些和路由无关的内容、或者不同版本间常常不兼容...
    </p>
    <p>
      在稍大些的 React 应用中，通常需要使用 Router 处理页面间的关系，以及在页面之间导航。 你在用其他 Router 库吗？是否遇到过不太好用的地方？比如，定义嵌套和动态路由时比较麻烦或有问题、 或者 API
      不够简洁、或者包含了一些和路由无关的内容、或者不同版本间常常不兼容...
    </p>
    <p>
      在稍大些的 React 应用中，通常需要使用 Router 处理页面间的关系，以及在页面之间导航。 你在用其他 Router 库吗？是否遇到过不太好用的地方？比如，定义嵌套和动态路由时比较麻烦或有问题、 或者 API
      不够简洁、或者包含了一些和路由无关的内容、或者不同版本间常常不兼容...
    </p>
    <p>
      在稍大些的 React 应用中，通常需要使用 Router 处理页面间的关系，以及在页面之间导航。 你在用其他 Router 库吗？是否遇到过不太好用的地方？比如，定义嵌套和动态路由时比较麻烦或有问题、 或者 API
      不够简洁、或者包含了一些和路由无关的内容、或者不同版本间常常不兼容...
    </p>
  </article>
  <div class="divider text-xs my-12 before:h-[1px] after:h-[1px] text-gray-300">
    2023-12-15 22:22:22
  </div>
</div>
{% endblock %}