{% extends "./common/layout.html" %}

{% block head %}
<title>标签 | Noka</title>
{% endblock %}

{% block body %}
<div class="w-full max-w-screen-md mx-auto rounded-md bg-base-100">
  <div class="max-sm:text-center max-sm:mb-5 sm:p-6 sm:hover:bg-base-200 rounded-sm transition-colors">
    <button class="badge p-4 m-1 text-base badge-primary">全部</button>
    <button class="badge p-4 m-1 text-base">杂谈</button>
    <button class="badge p-4 m-1 text-base">技术</button>
    <button class="badge p-4 m-1 text-base">产品</button>
    <button class="badge p-4 m-1 text-base">杂谈</button>
    <button class="badge p-4 m-1 text-base">技术</button>
    <button class="badge p-4 m-1 text-base">产品</button>
    <button class="badge p-4 m-1 text-base">杂谈</button>
    <button class="badge p-4 m-1 text-base">技术</button>
    <button class="badge p-4 m-1 text-base">产品</button>
    <button class="badge p-4 m-1 text-base">杂谈</button>
    <button class="badge p-4 m-1 text-base">技术</button>
  </div>
  <div>
    {% include "./common/post_list.html" %}
  </div>
</div>
{% endblock %}