{%- from "../common/header.html" import header -%}

<html data-theme="{{$context.cookies.get('theme') | default('light')}}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/site.css" />
  {% block head %}{% endblock %}
</head>

<body class="bg-base-100 font-serif">
  {% call header($context,setting) %}
  <ul class="menu menu-horizontal text-base/5">
    <li class="mx-1"><a class="{{ 'active' if $context.URL.pathname==='/' else ''}}" href="/">日志</a></li>
    <li class="mx-1"><a class="{{ 'active' if $context.URL.pathname==='/about' else ''}}" href="/about">关于</a></li>
  </ul>
  {% endcall %}
  <main class="w-screen p-5 sm:p-6 min-h-screen">
    {% block body %}{% endblock %}
  </main>
  {% include "../common/footer.html" %}
</body>

</html>