{%- from "./header.html" import header -%}
<html data-theme="{{$context.cookies.get('theme') | default('light')}}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/site.css" />
  {% block head %}{% endblock %}
</head>

<body class="bg-base-100 font-serif">
  {% call header($context) %}
  <ul class="menu menu-horizontal text-base/5">
    <li class="mx-1"><a class="{{ 'active' if $context.URL.pathname==='/write' else ''}}" href="/write">写作</a></li>
    <li class="mx-1"><a class="{{ 'active' if $context.URL.pathname==='/setting' else ''}}" href="/setting">设置</a></li>
  </ul>
  {% endcall %}
  {% block body %}{% endblock %}
</body>

</html>