{% for it in posts %}
<a class="max-sm:mb-6 sm:p-6 card sm:card-side sm:hover:bg-base-200 sm:transition-colors sm:max-w-none bg-base-100"
  href="/post/1">
  <figure class="w-full p-0 py-2 max-sm:pb-2 sm:max-w-[7rem] max-sm:!justify-start">
    <span class="text-base font-sans font-light text-stone-400"># 2023/11/20</span>
  </figure>
  <div class="card-body p-0 sm:pl-4 tracking-wide">
    <h2 class="card-title leading-relaxed font-normal">
      一个轻量易用的 React 路由模块 react-best-router
    </h2>
    <p class="text-base/8 opacity-60 leading-relaxed font-serif">
      在稍大些的 React 应用中，通常需要使用 Router 处理页面间的关系，以及在页面之间导航。 你在用其他 Router 库吗？是否遇到过不太好用的地方？比如，定义嵌套和动态路由时比较麻烦或有问题、 或者 API
      不够简洁、或者包含了一些和路由无关的内容、或者不同版本间常常不兼容...
    </p>
  </div>
</a>
{% endfor %}